mule-exception-strategy-use-case8/src/main/mule/mule-exception-strategy-use-case8.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:json="http://www.mulesoft.org/schema/mule/json"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config"
		doc:name="HTTP Listener config"
		doc:id="9ed94c7a-052b-49a9-871d-26cca67c6e31">
		<http:listener-connection host="0.0.0.0"
			port="8081" />
	</http:listener-config>
	<db:config name="Database_Config" doc:name="Database Config"
		doc:id="2cc26ab7-1c07-44b1-8f56-4276ec7b08ef">
		<db:my-sql-connection host="localhost"
			port="3306" user="root" password="$msDhoni07" database="DB_USERS" />
	</db:config>
	<flow name="mule-exception-strategy-use-case1Flow"
		doc:id="cf84f2f3-c903-45f1-b0c3-4f3beeaa29e0">
		<http:listener doc:name="Listener"
			doc:id="1c188894-34eb-48b1-8f95-9199d6b93d71"
			config-ref="HTTP_Listener_config" path="/api/v1/user/registration" />
		<logger level="INFO" doc:name="Initial Log"
			doc:id="66e33d0d-2ebf-48d6-9e32-e673866f0d10"
			message="main-flow is invoked." />
		<json:validate-schema
			doc:name="Validate User Registration Data"
			doc:id="2d301df7-a7ed-46b5-94cb-5c975b5bd232"
			schema="schemas/UserRegistration.schema" />
		<set-variable value="#[payload]" doc:name="Set Variable" doc:id="614d4b5c-018a-4dbd-b1a2-914a51cd12f7" variableName="originalpayload"/>
		<db:insert doc:name="Insert"
			doc:id="cd3d5a8e-df87-4590-9040-7c7751e371b6"
			config-ref="Database_Config">
			<db:sql><![CDATA[INSERT INTO T_USERS (
C_USER_ID,
    C_NAME,
    C_EMAIL,
    C_MOBILE_NUMBER,
    C_COMPANY,
C_GENDER,
C_DOB,
C_USERNAME,
C_PASSWORD
)
VALUES (
:UserID,
:Name,
:Email,
:MobileNumber,
:Company,
:Gender,
:DOB,
:Username,
:Password
);
]]></db:sql>
			<db:input-parameters><![CDATA[#[{
	'UserID': vars.originalpayload.userId,
	'Street': vars.originalpayload.address.street,
	'City': vars.originalpayload.address.city,
	'State': vars.originalpayload.address.state,
	'Zip': vars.originalpayload.address.zip,
	'Country': vars.originalpayload.address.country
}]]]></db:input-parameters>
		</db:insert>
		<logger level="INFO" doc:name="User Data Insertion Log"
			doc:id="b05eb770-592c-45e1-9cf2-a97dc172a103"
			message="%dw 2.0 output application/java --- if(vars.UserDBResult.affectedRows == 1) ('User is created in DB') else ('User is not created in DB')" />
		<db:insert doc:name="Create Address Data"
			doc:id="eb615382-ad06-4b79-9d3a-335eb2360130"
			config-ref="Database_Config">
			<db:sql><![CDATA[INSERT INTO T_ADDRESSES (
C_USER_ID,
C_STREET,
C_CITY,
C_STATE,
C_ZIP,
C_COUNTRY
)
VALUES (
:UserID,
:Street,
:City,
:State,
:Zip,
:Country
);]]></db:sql>
			<db:input-parameters><![CDATA[#[{
	'UserID': vars.originalpayload.userId,
	'Name': vars.originalpayload.name,
	'Email': vars.originalpayload.email,
	'MobileNumber': vars.originalpayload.mobileNumber,
	'Company': vars.originalpayload.company,
	'Gender': vars.originalpayload.gender,
	'DOB': vars.originalpayload.dob,
	'Username': vars.originalpayload.username,
	'Password': vars.originalpayload.password
}]]]></db:input-parameters>
		</db:insert>
		<logger level="INFO" doc:name="Address Data Insertion Log"
			doc:id="d87ce088-6e36-4e8a-b184-2a36403ddc03"
			message="#[%dw 2.0 output application/java --- if(payload.affectedRows == 1) ('Address is created in DB') else ('Address is not created in DB')]" />
		<ee:transform doc:name="Prepare Success Response"
			doc:id="843d01a8-4172-45fc-a443-e9461f75b4b2">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
status: "Success",
message: "User created successfully"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Exit Log"
			doc:id="0f846f12-b1be-4859-a10c-2f569424fd17"
			message="Exit from main-flow." />
	</flow>
</mule>