mule-distinct-use-case/src/main/mule/mule-distinct-use-case.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="9dd674f1-4bc4-4749-860a-4c010466580a" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="mule-distinct-use-caseFlow" doc:id="10ee67c6-7992-4798-bc44-cd7db5f3cc1a" >
		<http:listener doc:name="Listener" doc:id="8381940a-f498-486e-ab72-942782822f46" config-ref="HTTP_Listener_config" path="/distinct"/>
		<ee:transform doc:name="Transform Message" doc:id="f557a719-d2d0-4004-a3cb-94bb5dc5e2e4" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
---
{
   book : {
     title : payload.book.&title,
     authors: payload.book.&author distinctBy $
   }
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
