.tooling-apps-cache/app/mule-pub-sub-use-case/mule-pub-sub-use-case.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:vm="http://www.mulesoft.org/schema/mule/vm" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="74e381dc-7dfd-4b77-a2e2-03d23800cc36" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<vm:config name="VM_Config" doc:name="VM Config" doc:id="95fc4886-51d3-4d38-bd98-2cab82aff948" >
		<vm:queues >
			<vm:queue queueName="publishqueue" />
		</vm:queues>
	</vm:config>
	<flow name="mule-pub-sub-use-case" doc:id="205eb600-4d1e-47ed-8a45-bb0b93f6de78" >
		<http:listener doc:name="Listener" doc:id="00ee0b68-b1ce-4594-b88a-5316a497482f" config-ref="HTTP_Listener_config" path="/postdata" allowedMethods="POST"/>
		<logger level="INFO" doc:name="Logger" doc:id="06e378a1-6cbc-48da-9684-90f8efef90c6" message="before publishing message"/>
		<vm:publish queueName="publishqueue" doc:name="Publish" doc:id="ae853a27-2800-47b5-8d37-19ac93fa7a7e" config-ref="VM_Config"/>
		<logger level="INFO" doc:name="Logger" doc:id="8ca8d0cd-e629-400b-8871-017182630d9a" message="after message published"/>
	</flow>
	<flow name="mule-pub-sub-use-case-consume-flow" doc:id="e71074b4-7e01-48f5-a56e-bf56bda6336c" >
		<vm:listener queueName="publishqueue" doc:name="Listener" doc:id="0a101fe5-fc0e-43f4-a8c2-b72f80f3ebb6" config-ref="VM_Config"/>
		<logger level="INFO" doc:name="Logger" doc:id="c57945da-e86a-43c8-8520-b387f78b59e2" message="#[payload]"/>
		<logger level="INFO" doc:name="Logger" doc:id="aa140516-3ba4-4802-a97f-125cb15e655c" message="message is consumed"/>
	</flow>
</mule>