.tooling-apps-cache/app/mule-file-connector-use-case/mule-file-connector-use-case.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:sftp="http://www.mulesoft.org/schema/mule/sftp"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/sftp http://www.mulesoft.org/schema/mule/sftp/current/mule-sftp.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd">
	<file:config name="File_Config" doc:name="File Config" doc:id="ade2be6f-91f6-4ec1-9080-b30d34fa2267" >
		<file:connection workingDir="/Users/ashuaasi/Documents/Mulesoft/Test/input" />
	</file:config>
	<flow name="mule-file-connector-use-caseFlow" doc:id="0b5cfe7a-8492-427f-ab21-fbfbe3f90a7c" >
		<file:listener doc:name="On New or Updated File" doc:id="dabe10a8-8879-42db-91dd-2aa9ae0183eb" config-ref="File_Config" directory="/Users/ashuaasi/Documents/Mulesoft/Test/input" moveToDirectory="/Users/ashuaasi/Documents/Mulesoft/Test/output">
			<scheduling-strategy >
				<fixed-frequency frequency="5" timeUnit="SECONDS" />
			</scheduling-strategy>
		</file:listener>
		<logger level="INFO" doc:name="Logger" doc:id="3bdbbd5e-2083-4fb1-aaf0-f9df711510a1" message="#[payload.message]"/>
	</flow>
</mule>